.Feedback {
    height: var(--BlockHeight);
    background: var(--color-main);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 228px;
}

.FeedbackForm {
    max-width: 502px;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.suggestion, .name {
    height: 52px;
    font-family: "Montserrat Alternates";
    font-size: 20px;
    border-radius: 0 100px 100px 0 ;
    outline: none;
    border: none;
    opacity: 50%;
    padding: 16px;
    transition: 0.3s;
    &:hover {
        opacity: 100%;
    }
    &:focus-visible {
        outline: none;
        opacity: 100%;
    }
}

.suggestion {
    width: 448px;
    margin: 55px 0 15px 0;
}

.name {
    width: 350px;
    margin-bottom: 63px;
}

.submit {
    width: 248px;
    height: 52px;
    font-family: "Montserrat Alternates";
    font-size: 20px;
    border-radius: 0 100px 100px 0 ;
    outline: none;
    border: none;
    padding: 16px;
    transition: 0.3s;
    text-align: start;
}

.ElizabethContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 31px;
}

.Elizabeth {
    font-family: 'Montserrat Alternates';
    color: var(--color-white);
    font-weight: 400;
    font-size: 15px;
    font-variant: small-caps;
    span {
        font-family: inherit;
        font-weight: 500;
        font-size: inherit;
        color: inherit;
    }
}