.Feedback {
    height: var(--BlockHeight);
    background: var(--color-main);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 228px;
}

.FeedbackForm {
    max-width: 502px;
}

.ElizabethContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 31px;
}

.Elizabeth {
    font-family: 'Montserrat Alternates';
    color: var(--color-white);
    font-weight: 400;
    font-size: 15px;
    font-variant: small-caps;
    span {
        font-family: inherit;
        font-weight: 500;
        font-size: inherit;
        color: inherit;
    }
}